
# HTID:18133542: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18133542:

ErrorDocument 404 /404.html






# HTID:11670658: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /github http://github.com/praveen101997
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11670658:

# HTID:11670677: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /kaggle http://www.kaggle.com/praveen101997
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11670677:



# HTID:11671978: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /resume http://praveensharma.cf/Praveen_Sharma_Resume.pdf
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11671978:

# HTID:11671996: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /blog http://procoder01.blogspot.com/
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11671996:

# HTID:11696444: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /cks http://praveensharma.cf/files/colab-kaggle-setup.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11696444:

# HTID:12023552: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /imp http://praveensharma.cf/personal_certificate/
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12023552:

# HTID:12023552: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /projects http://praveensharma.cf/portfolio.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12023552:


